.film{
    margin: 100px 20px 50px 20px;
    display: flex;
    justify-content: stretch;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px #b2b2b2;
}
.description{
    text-align: left;
    margin: 150px 50px auto 50px;
    font-style: italic;
    text-align: justify;
}
img{
    border-style: dotted;
    width: 70vh;
    border-radius: 30px;
}
h2{
    color: rgb(81, 150, 241);
}
button{
    cursor: pointer;
    color: aliceblue;
    background-color: rgb(10, 70, 235);
    font-size: 22px;
    width: 200px;
    height: 50px;
}

.field{
   display: flex;
   justify-content: space-between;
    width: 170vh;
    font-size:20px;
    margin: 15px 15px 15px 15px;
    align-items: center;
    box-shadow: 0px 0px 2px 2px #cecdcd;
}
.field input{
    padding: 9px;
    background-color: rgb(209, 248, 235);
}
.rating{
    width: 200px;
    font-size:20px;
    margin: 5px 5px 5px 5px;
    
}
.watching{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.topBefore{
    align-items: center;
}
#submit{
   width: 140px;
   margin-left: 20px;
   height: 30px;
   font-size: 16px;
}
.NavList{
    margin-top: auto;
    width: 150vh;
    height: 50px;
    display: flex;
    justify-content: space-around;
   
}
ul .SouhaibMovie{
    font-size: 30px;
    text-decoration: solid;
    font-style: italic;
    text-shadow:  white 0.004em 0.002em 0.004em,
    #9c9c9c 1px 1px 1px,
    #9c9c9c 1px 2px 1px,
    #9c9c9c 1px 3px 1px,
    #9c9c9c 1px 4px 1px,
    #9c9c9c 1px 5px 1px,
    #9c9c9c 1px 6px 1px,
    #9c9c9c 1px 7px 1px,
    #9c9c9c 1px 8px 1px,
    #9c9c9c 1px 9px 1px,
    #9c9c9c 1px 10px 1px,
    #9c9c9c 1px 11px 1px,
    #9c9c9c 1px 12px 1px;color:#fff;
}
